@{
    ViewBag.Title = "designed by Shubham";
}

<div class="jumbotron">    
    <p><a href="https://www.codeproject.com/Articles/556995/ASP-NET-MVC-interview-questions-with-answers" class="btn btn-primary btn-lg">Brush Up MVC</a></p>
</div>

<div class="row">
</div>